# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Virtual environments
venv/
.venv/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Large Media Files
*.mp4
*.mov
*.avi

# Testing
.coverage
htmlcov/
.pytest_cache/
*.log
